@import "reset.css";

:root{
  --main-red: #F75544;
  --main-yellow: #EB9D05;
  --main-green: #00844B;
  --main-purple: #70348C;
  --main-black: #141414;
  --main-white: #F9F9F9;
}

@font-face {
  font-family: "Five-Years-Later";
  font-weight: regular;
  src: url(../fonts/Five-Years-Later-Regular-Demo.otf) format('truetype');
}

@font-face {
  font-family: "Druk";
  font-weight: Medium;
  src: url(../fonts/DrukCy-Medium-Desktop.otf) format('truetype');
}

@font-face {
  font-family: "HeadingProUltracomp";
  font-weight: heavy;
  src: url(../fonts/HeadingProUltracomp-Heavy.ttf) format('truetype');
}

@font-face {
  font-family: "Myriad Pro";
  font-weight: regular;
  src: url(../fonts/Myriad-Pro.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;

  position: absolute;
  bottom: 0;
  left: 0;
  padding: 1vw;
  opacity: 1;

  z-index: 999;
}

h1:hover {
  opacity: 0.75;
}

h2 {
  font-family: "HeadingProUltracomp";
  /* font-size: 318px; */
  line-height: 76.19%;
  text-transform: uppercase;

  position: absolute;
  top: 0;

  color: var(--main-white);
}


a{
  display: block;
  height: 100%;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12% 12% 22% 19% 19% 16% 2%;
  height: 320vh;
}

.blocks section {
  position: relative;
}



/* секции */
/* section; */

.blocks__section__one {
  background: var(--main-red);
  grid-column: 1/2;
  grid-row: 1/2;
}

.blocks__section__one:hover {
  background: var(--main-green);
  transition: .2s;
}

/* вторая */

.blocks__section__two {
  background: var(--main-purple);

  grid-column: 2/4;
  grid-row: 1/3;
}

.blocks__section__two:hover {
  background: var(--main-black);
  transition: .2s;
}

.blocks__section__two:hover .blocks__section__two__shapes__circle-black {
  background: var(--main-purple);
  transition: .2s;
}

.blocks__section__two__shapes {
  display: grid;
  grid-template-columns: 38% 25% 37%;
  grid-template-rows: 35% 13% 30% 22%;
  width: 100%;
  height: 100%;
}

.blocks__section__two__shapes div {
  width: 100%;
  height: 100%;
}


.blocks__section__two__shapes__rect-white {
  grid-column: 1/3;
  grid-row: 1/2;

  border-radius: 1.5em;

  background: var(--main-white);
}

.blocks__section__two__shapes__circle-black {
  grid-column: 1/2;
  grid-row: 2/4;

  border-radius: 32em;

  background: var(--main-black);
}

.blocks__section__two__shapes__rect-green {
  grid-column: 1/2;
  grid-row: 4/5;

  border-radius: 1.5em;

  background: var(--main-green);
}

.blocks__section__two__shapes__rect-red {
  grid-column: 2/3;
  grid-row: 3/5;

  border-radius: 1.5em;

  background: var(--main-red);
}

.blocks__section__two__shapes__rect-green-little {
  grid-column: 2/3;
  grid-row: 2/3;
  border-radius: 1.5em;

  background: var(--main-green);
}

.blocks__section__two__shapes__oval-yellow {
  grid-column: 3/4;
  grid-row: 1/5;

  border-radius: 14em;

  background: var(--main-yellow);
}



/* третья */

.blocks__section__three {
  object-fit: cover;
  overflow: hidden;

  grid-column: 1/2;
  grid-row: 2/3;

  background: #cdcdcd;
}

.blocks__section__three img {
  width: 100%;
  transform: translateY(-12%);
}

.blocks__section__three:hover img {
  filter: blur(3px);
}




/* четвертая */

.blocks__section__four {
  background: var(--main-yellow);

  grid-column: 1/2;
  grid-row: 3/4;
}

.blocks__section__four:hover {
  background: var(--main-purple);
  transition: .2s;
}


/* пятая */

.blocks__section__five {
  background: var(--main-white);

  grid-column: 2/3;
  grid-row: 3/4;
  overflow: hidden;
}

.blocks__section__five p {
  height: 100%;
}

.blocks__section__five p a{
  height: 100%;
}

.blocks__section__five img{
  height: 100%;
  position: absolute;
  margin-right: -50%;
  transform: translate(-20%);
  overflow: hidden;
}

.blocks__section__five:hover img{
  filter: blur(3px);
  /* transform: scale(0); */
}

.blocks__section__five h1 {
  color: var(--main-white);
}


/* шестая */


.blocks__section__six {
  background: var(--main-green);

  grid-column: 3/4;
  grid-row: 3/4;

  overflow: hidden;
}

.blocks__section__six:hover {
  background: var(--main-white);
  transition: .2s;
}

.blocks__section__six img {
  position: absolute;
  bottom: 0;
  width: 60%;
}

.blocks__section__six div {
  width: 20vw;
  height: 20vw;

  position: absolute;
  right: -20%;
  top: -10%;


  background: var(--main-black);
  border-radius: 100%;
}



/* седьмая */

.blocks__section__seven {
  background: var(--main-black);

  grid-column: 3/4;
  grid-row: 4/5;
}

.blocks__section__seven:hover {
  background: var(--main-yellow);
}



/* восьмая */


.blocks__section__eight {
  background: var(--main-white);

  grid-column: 3/4;
  grid-row: 5/6;
}
.blocks__section__eight h1 {
  color: var(--main-white)
}

.blocks__section__eight div:nth-child(2) {
  width: 60%;
  height: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: var(--main-purple);
}

.blocks__section__eight:hover div:nth-child(2) {
  background: var(--main-yellow);
  transition: .2s;
}

.blocks__section__eight div:nth-child(3){
  width: 40%;
  height: 60%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: var(--main-black);
}

.blocks__section__eight div:nth-child(4){
  width: 80%;
  height: 40%;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--main-red);
}



/* девятая */


.blocks__section__nine {
  background: var(--main-red);

  grid-column: 1/3;
  grid-row: 4/6;
  height: 100%;
  overflow: hidden;
}


.blocks__section__nine:hover {
  background:  var(--main-green);
  transition: .2s;
}


.fluid-text {
  width: 100%;
  height: auto;
}


.blocks__section__nine a{
  color: var(--main-white);
  text-decoration: none;
}



/* десятая */

.blocks__section__ten {
  background: var(--main-purple);

  grid-column: 1/2;
  grid-row: 6/7;
}

.blocks__section__ten:hover {
  background: var(--main-yellow);
  transition: .2s;
}



/* одиннадцатая */

.blocks__section__eleven {
  background: #bababa;

  grid-column: 2/3;
  grid-row: 6/7;
  overflow: hidden;
}

.blocks__section__eleven img{
  width: 100%;
}

.blocks__section__eleven:hover img{
  filter: blur(3px);
}

/* двенадцатая */


.blocks__section__twelve {
  background: var(--main-green);

  grid-column: 3/4;
  grid-row: 6/7;
}

.blocks__section__twelve:hover {
  background: var(--main-white);
  transition: .2s;
}

/* футер */

footer {
  background: var(--main-black);

  grid-column: 1/4;
  grid-row: 7/8;

  display: flex;
  justify-content: space-around;
  align-items: center;
}


footer a {
  font-family: "Five-Years-Later";
  text-transform: uppercase;
  text-decoration: none;
  color: var(--main-white);
  height: auto;
}

footer a:hover {
  filter: brightness(80%);

}










/* ---------------------------------------- */
/* универсальные */
/* ------------------------------------ */

/* scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--main-black);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-yellow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-green);
}

/* ----------------- */





.logo {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 1000;
  height: auto;
  padding: 10px;
  color: var(--main-white);
}

.description-middle {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  padding: 10px;
  width: 100vw;

  position: absolute;
  z-index: 999;
  text-align: center;

  color: var(--main-white);
}

.link-left {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  text-decoration: none;

  padding: 10px;
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;

  color: var(--main-white);

  height: auto;
}

.link-right {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  text-decoration: none;

  padding: 10px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;

  color: var(--main-white);

  height: auto;
}

.link-left:hover,
.link-right:hover,
.logo:hover {
  color: var(--main-black);
}





/* game */
/* ---------------------------- */
.game__shapes {
  display: grid;
  grid-template-columns: 22% 7% 20% 5% 19% 27%;
  grid-template-rows: 19% 8% 16% 13% 27% 18%;
  width: 100vw;
  height: 80vh;
  position: absolute;
  bottom: 0;
}

.game__time {
  font-family: "Five-Years-Later";
  text-transform: uppercase;
  font-size: 2vw;

  position: absolute;
  top: 0;
  right: 0;
  text-align: right;
  padding: 10px;

  color: var(--main-white);
}

#game__time {
  font-size: 5vw;
}

#game__time__number {
  font-size: 5vw;
}



.game__shapes div {
  width: 100%;
  height: 100%;
}

.game__shapes__ellipse-green {
  grid-column: 1/2;
  grid-row: 1/4;

  background: var(--main-green);
  border-radius: 30em;
}

.game__shapes__ellipse-green.active {
  background: var(--main-purple);
}


.game__shapes__ellipse-purple {
  grid-column: 3/4;
  grid-row: 5/7;

  background: var(--main-purple);
  border-radius: 30em;
}

.game__shapes__ellipse-purple.active {
  background: var(--main-yellow);
}

.game__shapes__oval-yellow {
  grid-column: 6/7;
  grid-row: 1/7;

  background: var(--main-yellow);
  border-radius: 5em;
}

.game__shapes__oval-yellow.active {
  background: var(--main-red);
}

.game__shapes__rect-green {
  grid-column: 4/6;
  grid-row: 6/7;

  background: var(--main-green);
  border-radius: 3em;
}

.game__shapes__rect-green.active {
  background: var(--main-white);
}

.game__shapes__rect-red {
  grid-column: 1/3;
  grid-row: 4/7;

  background: var(--main-red);
  border-radius: 3em;
}

.game__shapes__rect-red.active {
  background: var(--main-white);
}

.game__shapes__rect-white {
  grid-column: 3/6;
  grid-row: 2/5;

  background: var(--main-white);
  border-radius: 3em;
}

.game__shapes__rect-white.active {
  background: var(--main-red);
}

.game__shapes__rect-yellow {
  grid-column: 2/3;
  grid-row: 3/4;

  background: var(--main-yellow);
  border-radius: 3em;
}

.game__shapes__rect-yellow.active {
  background: var(--main-purple);
}









/* -------------- */
/* food */


.food__main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* grid-template-rows: 16% 3% 14% 18% 10% 10% 10% 10% 10% 20%; */
  grid-template-rows: 13% 3% 13% 15% 11% 10% 10% 10% 10% 20%;
  /* height: 100vh; */

  font-family: "Five-Years-Later";
  text-transform: uppercase;
  color: var(--main-black);
}

.food__main__h1_1 {
  grid-column: 1/5;
  grid-row: 2/3;

  font-size: 2vw;
  padding-left: 28px;
}

.food__main__h1_2 {
  grid-column: 7/9;
  grid-row: 2/3;

  font-size: 2vw;
  padding-left: 28px;
}

.food__main__h2_1 {
  grid-column: 1/3;
  grid-row: 3/4;

  font-size: 6vw;
  padding-left: 24px;
}

.food__main__h2_2 {
  grid-column: 7/9;
  grid-row: 3/4;

  font-size: 6vw;
  padding-left: 24px;
}

.food__main__p_1 {
  grid-column: 1/6;
  grid-row: 4/5;

  font-size: 2vw;
  padding-left: 28px;
  text-transform: none;
}

.food__main__p_2 {
  grid-column: 7/12;
  grid-row: 4/5;

  font-size: 2vw;
  padding-left: 28px;
  text-transform: none;
}

.food__main__h3_1 {
  grid-column: 1/3;
  grid-row: 5/6;

  font-size: 2vw;
  padding-left: 28px;
  text-transform: uppercase;
}

.food__main__h3_2 {
  grid-column: 7/12;
  grid-row: 5/6;

  font-size: 2vw;
  padding-left: 28px;
  text-transform: uppercase;
}

.food__main__menu{
  grid-column: 3/6;
  grid-row: 5/9;

  display: grid;
  grid-template-rows: 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr 2fr 1fr;
  grid-template-columns: 2fr 1fr;
  /* padding-bottom: 80vh; */
}

.food__main__menu p:nth-child(2n+1) {
  font-size: 2vw;
  text-transform: none;
  padding-bottom: 0.4vw;
}

.food__main__menu p:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.food__main__menu p:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.food__main__menu p:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.food__main__menu p:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}

.food__main__menu p:nth-child(5) {
  grid-column: 1/2;
  grid-row: 5/6;
}

.food__main__menu p:nth-child(6) {
  grid-column: 1/2;
  grid-row: 6/7;
}

.food__main__menu p:nth-child(7) {
  grid-column: 1/2;
  grid-row: 7/8;
}

.food__main__menu p:nth-child(8) {
  grid-column: 1/2;
  grid-row: 8/9;
}

.food__main__menu p:nth-child(9) {
  grid-column: 1/2;
  grid-row: 9/10;
}

.food__main__menu p:nth-child(10) {
  grid-column: 1/2;
  grid-row: 10/11;
}

.food__main__menu p:nth-child(11) {
  grid-column: 1/2;
  grid-row: 11/12;
}

.food__main__menu p:nth-child(12) {
  grid-column: 1/2;
  grid-row: 12/13;
}

.food__main__menu p:nth-child(2n) {
  font-size: 1.1vw;
  text-transform: none;
  padding-bottom: 1.3vw;
}

/* цена */
.food__main__menu h6 {
  font-size: 2vw;
  grid-column: 2/3;
}

.food__main__menu h6:nth-child(3) {

  grid-column: 2/3;
  grid-row: 2/3;
}

.food__main__menu h6:nth-child(even) {
  opacity: 0;
}

.food__main__menu h6:nth-child(1) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.food__main__menu h6:nth-child(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

.food__main__menu h6:nth-child(5) {
  grid-column: 3/4;
  grid-row: 5/6;
}

.food__main__menu h6:nth-child(7) {
  grid-column: 3/4;
  grid-row: 7/8;
}

.food__main__menu h6:nth-child(9) {
  grid-column: 3/4;
  grid-row: 9/10;
}

.food__main__menu h6:nth-child(11) {
  grid-column: 3/4;
  grid-row: 11/12;
}

.food__main__menu h6 span {
  font-family: "Myriad Pro", sans-serif;
}

.food__main__menu_2 p span {
  font-family: "Myriad Pro", sans-serif;
}




/* второе */
.food__main__menu_2{
  grid-column: 9/12;
  grid-row: 5/7;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr;
}

.food__main__menu_2 p {
  font-size: 2vw;
  text-transform: none;
  padding-bottom: 2vw;
}

.food__main__menu_2 p:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}

.food__main__menu_2 p:nth-child(2) {
  grid-column: 1/2;
  grid-row: 2/3;
}

.food__main__menu_2 p:nth-child(3) {
  grid-column: 1/2;
  grid-row: 3/4;
}

.food__main__menu_2 p:nth-child(4) {
  grid-column: 1/2;
  grid-row: 4/5;
}


.food__main__menu__price_2 {
  font-family: "Five-Years-Later";
  grid-column: 2/3;
  grid-row: 1/5;
}

.food__main__menu__price_2 p:nth-child(1) {
  grid-column: 3/4;
  grid-row: 1/2;
}

.food__main__menu__price_2 p:nth-child(2) {
  grid-column: 3/4;
  grid-row: 2/3;
}

.food__main__menu__price_2 p:nth-child(3) {
  grid-column: 3/4;
  grid-row: 3/4;
}

.food__main__menu__price_2 p:nth-child(4) {
  grid-column: 3/4;
  grid-row: 4/5;
}

.food__main__padding {
  width: 100px;
  height: 150px;
}







/* events */
/* ----------------------- */

.events__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.events__div__span {
  width: 1000vw;
  height: 25vh;
  border: 10px;
  /* overflow: hidden; */
  /* display: table; */
  border-bottom: 5px solid var(--main-white);
  user-select: none;
  animation: move 50s ease-in-out infinite;
}


.events__div__span:hover {
  background: var(--main-black);
  animation-play-state: paused;
}

.events__div__span h4 {
  font-family: "Druk";
  font-size: 30vh;
  text-transform: uppercase;
  color: var(--main-white);
}

.events__div__span__set:hover {
  color: var(--main-black);
  -webkit-text-stroke: 2px var(--main-white);
}

.events__div__span__one-years:hover {
  color: var(--main-black);
  -webkit-text-stroke: 2px var(--main-white);
}

.events__div__span__one-years img {
  position: fixed;
  height: 60vh;
  top: -300px;
  left: 490px;
  opacity: 0;
  transition: .5s;
}

.events__div__span__one-years:hover img{
  opacity: 1;
  position: fixed;
  top: -29vw;
}


@keyframes move {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-300vw);
  }
  100% {
    transform: translateX(0vw);
  }
}








/* статистика */
/* -------------------------- */

.statistics_heading {
  font-family: "HeadingProUltracomp";
  text-transform: uppercase;
  width: 100%;
  height: auto;
  line-height: 76.19%;
  color: var(--main-white);
  user-select: none;
}

.statistics_heading span:hover{
  color: var(--main-black);

}





/* промокод */
/* ----------------------- */

.sale img:not(rect-white) {
  position: absolute;
  width: 30vw;
  height: 30vw;
  display: block;
  animation: saleTranslate 10s ease-in-out infinite;
}

.sale p {
  animation: saleTranslate 10s ease-in-out infinite;
  transform: translateZ(0);
  background-repeat: no-repeat;
  background-size: 30vw;
  position: absolute;

}

.sale p:nth-child(1) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/ellipse-red.svg);
  bottom: 8vw;
  left: 30vw;
}

.sale p:nth-child(1):hover {
  background-image: url(../img/sale/hover/ellipse-red-hover.svg);
  transition: .3s;
}

.sale p:nth-child(2) {
   width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/ellipse-red2.svg);

  top: -15vw;
  left: 95vw;
}

.sale p:nth-child(2):hover {
  background-image: url(../img/sale/hover/ellipse-red-hover-2.svg);
  transition: .3s;
}


.sale p:nth-child(3) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/poly-green.svg);

  bottom: 2vw;
  left: 88vw;
}

.sale p:nth-child(3):hover {
  background-image: url(../img/sale/hover/poly-green-hover.svg);
  transition: .3s;
}


.sale p:nth-child(4) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/rect-green.svg);

  bottom: -15vw;
  left: 10vw;
}

.sale p:nth-child(4):hover {
  background-image: url(../img/sale/hover/rect-green-hover.svg);
  transition: .3s;
}

.sale p:nth-child(5) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/rect-white.svg);

  top: -2vw;
  right: 10vw;
}

.sale p:nth-child(5):hover {
  background-image: url(../img/sale/hover/rect-white-hover.svg);
  transition: .3s;
}

.sale p:nth-child(6) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/triangle-yellow.svg);

  top: 18vw;
  left: -5vw;
}

.sale p:nth-child(6):hover {
  background-image: url(../img/sale/hover/triangle-yellow-hover.svg);
  transition: .3s;
}


.sale p:nth-child(7) {
  width: 30vw;
  height: 30vw;
  background-image: url(../img/sale/star-purple-2.svg);

  bottom: 0vw;
  right: -85vw;
}

.sale p:nth-child(7):hover {
  background-image: url(../img/sale/hover/star-purple-hover.svg);
  transition: .3s;
}


.star-purple {
  top: -10vw;
  left: 5vw;
}


.star-yellow {
  bottom: -10vw;
  right: 15vw;
}


.triangle-yellow-2 {
  top: 7vw;
  right: -55vw;
}

.ellipse-white {
  bottom: -13vw;
  right: -50vw;
}

.rect-green-2 {
  top: -10vw;
  right: -70vw;
}


@keyframes saleTranslate {
  0% {
    transform: translateX(0vw);
  }
  50% {
    transform: translateX(-70vw);
  }
  100% {
    transform: translateX(0vw);
  }

}







/* vr */
/* ----------------- */

.vr_video {
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}


/* ----------------------- */

/* book */
/* книга  */
.images-container {
  height: 120vh
}


/* мерч */
/* ----------------- */
button {
  font-family: "Five-Years-Later";
  font-size: 2vw;
  position: absolute;
  z-index: 9999;

  border: none;
  border-radius: 51px;

  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

  background: var(--main-yellow);
}

button:hover {
  background: var(--main-red);
  transition-duration: 0.4s;
}

#button-price {
  bottom: 6vw;
  right: 46vw;
}

#button-price-2 {
  bottom: 6vw;
  right: 16vw;
}

.slider {
	display: block;
	position: relative;
	width: 100vw;
	height: 100vh;
	margin: 0 auto;
	overflow: hidden;
}

.images-container {
	position: absolute;
	width: auto;
	height: 100vh;
	transition: .5s;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.images-container img {
	display: block;
	width: auto;
	height: 100%;
	z-index: 1;
}
.buttons-block > div {
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 25px;
	z-index: 99;
}
#prev-btn {
	left: 5px;
  width: 50vw;
  height: 100vh;

  position: absolute;
  top: 0;
  left: 0;
  cursor: url("../img/cursor-line-left.svg"), auto;
}
#next-btn {
	right: 5px;
  width: 50vw;
  height: 100vh;

  position: absolute;
  top: 0;
  right: 0;
  cursor: url("../img/cursor-line-right.svg"), auto;
}
#dots-block {
	z-index: 100;
	display: flex;
	justify-content: center;
	position: absolute;
	bottom: 10px;
	left: 50%;
  opacity: 0;
	transform: translateX(-50%);
}
.dot {
	width: 15px;
	margin-right: 7px;
	height: 15px;
	border: none;
	border-radius: 50%;
	background: #eeeeee;
	cursor: pointer;
	outline: none;
}
.dot-active {
	background: #000;
}


/* ----------------------- */



.count {
  background-color: white;
  width: 50px;
  height: 30px;
  border-radius: 50px;
  color: red;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
}



/* contacts */
/* ----------------------- */

.contacts {
  height: 20vh;
  width: 100vw;
  color: var(--main-white);

  position: absolute;
  top: 9vw;

  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.contacts__adress {
  grid-column: 3/5;
  grid-row: 1/2;
}

.contacts__adress__info {
  grid-column: 7/12;
  grid-row: 1/2;
  padding-bottom: 30px;
}

.contacts__support {
  grid-column: 3/5;
  grid-row: 2/3;
}


.contacts__support__info {
  grid-column: 7/12;
  grid-row: 2/3;
}

.contacts__map {
  position: absolute;
  top: 65%;
  left: 50%;

  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.contacts__map__iframe {
  width: 98vw;
  height: 50vh;

}

/* стили кнопок для покупки */

.swal-modal {
  height: 25vw;
  width: 40vw;
  border-radius: 5vw;
  background: var(--main-white)
}

.swal-title {
  font-family: "Five-Years-Later";
  line-height: 95.19%;
  font-size: 3vw;
  text-transform: uppercase;
  padding: 10%;
  color: var(--main-black)
}

.swal-button {
  width: 10vw;;
  height: 3vw;
  padding: 10%;
  border-radius: 100px;
  background-color: var(--main-white);
  border: 2px solid var(--main-black);
  font-size: 2vw;
  text-transform: uppercase;
  color: var(--main-black);
}

.swal-button--confirm{
  background: var(--main-yellow);
  border: none;
}

.swal-footer {
  display: flex;
  justify-content: space-evenly;
}

.swal-button-container {
  margin-right: 10vw;
}


.swal-button:not([disabled]):hover {
  background-color: var(--main-red);
}

.swal-button:focus {
  outline: none;
  box-shadow: none;
}
/* ------------------- */



/* media for sliders */
@media (max-width: 900px) {
  .images-container {
  	height: 80vw;
  }

  .merch__button {
    width: 100vw;
    position: absolute;
    bottom: 16vw;
    display: flex;
    justify-content: space-around;
  }

  #button-price {
    right: 60vw;
  }

  #button-price-2 {
    right: 10vw;
  }

  button {
    font-size: 4vw;
    position: static;
    bottom: 6vw;
  }
}

@media (max-width: 1024px) {
  ::-webkit-scrollbar {
    width: 0;
  }
  .book_section {
    transform: rotate(90deg);
  }

  .images-container {
    height: 90vw;
  }

  .food__main {
    grid-template-rows: 8% 3% 10% 9% 34% 5% 3% 10% 12% 25%;
  }

  .food__main__h1_1,
  .food__main__h1_2 {
    font-size: 4vw;
    grid-column: 1/11;
  }

  .food__main__h1_2 {
    grid-row: 7/8;
  }

  .food__main__h2_1 {
    font-size: 11vw;
  }

  .food__main__h2_2 {
    grid-row: 8/9;
    grid-column: 1/3;
    font-size: 11vw;
  }

  .food__main__p_1,
  .food__main__p_2 {
    grid-column: 1/13;
    font-size: 4vw;
    padding: 3vw;
  }

  .food__main__p_2 {
    grid-row: 9/10;
  }

  .food__main__h3_1,
  .food__main__h3_2 {
    font-size: 4vw;
  }

  .food__main__menu {
    grid-column: 4/13;
    grid-row: 5/5;
  }

  .food__main__menu p:nth-child(2n+1) {
    font-size: 4vw;
  }

  .food__main__menu p:nth-child(2n) {
    font-size: 2vw;
  }

  .food__main__menu h6,
  .food__main__menu_2 p {
    font-size: 4vw;
  }

  .food__main__h3_2 {
    grid-column: 1/3;
    grid-row: 10/11;
  }


  .food__main__menu_2 {
    grid-column: 4/13;
    grid-row: 10/11;
    padding-bottom: 10vw;
  }

}























/* // */
