@import "reset.css";

:root{
  --main-red: #F75544;
  --main-yellow: #EB9D05;
  --main-green: #00844B;
  --main-purple: #70348C;
  --main-black: #141414;
  --main-white: #F9F9F9;
}

@font-face {
  font-family: "Five-Years-Later";
  font-weight: regular;
  src: url(../fonts/Five-Years-Later-Regular-Demo.otf) format('truetype');
}

@font-face {
  font-family: "Druk";
  font-weight: Medium;
  src: url(../fonts/DrukCy-Medium-Desktop.otf) format('truetype');
}

@font-face {
  font-family: "HeadingProUltracomp";
  font-weight: heavy;
  src: url(../fonts/HeadingProUltracomp-Heavy.ttf) format('truetype');
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  overflow-x: hidden;
}

h1 {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;

  position: absolute;
  bottom: 3%;
  left: 3%;

  z-index: 999;
}

h2 {
  font-family: "HeadingProUltracomp";
  /* font-size: 318px; */
  line-height: 76.19%;
  text-transform: uppercase;

  position: absolute;
  top: 0;

  color: var(--main-white);
}


a{
  display: block;
  height: 100%;
}

.blocks {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 12% 12% 22% 19% 19% 16% 2%;
  height: 320vh;
}

.blocks section {
  position: relative;
}



/* секции */

.blocks__section__one {
  background: var(--main-red);
  grid-column: 1/2;
  grid-row: 1/2;
}

/* вторая */

.blocks__section__two {
  background: var(--main-purple);

  grid-column: 2/4;
  grid-row: 1/3;
}



/* третья */

.blocks__section__three {
  object-fit: cover;

  grid-column: 1/2;
  grid-row: 2/3;

  background: #D2D2D2;
}

.blocks__section__three img {
  width: 100%;
}




/* четвертая */

.blocks__section__four {
  background: var(--main-yellow);

  grid-column: 1/2;
  grid-row: 3/4;
}


/* пятая */

.blocks__section__five {
  background: var(--main-white);

  grid-column: 2/3;
  grid-row: 3/4;
}

.blocks__section__five img{
width: 100%;
  /* object-fit: cover; */
  overflow: hidden;
}



/* шестая */


.blocks__section__six {
  background: var(--main-green);

  grid-column: 3/4;
  grid-row: 3/4;

  overflow: hidden;
}

.blocks__section__six img {
  position: absolute;
  bottom: 0;
}

.blocks__section__six div {
  width: 20vw;
  height: 20vw;

  position: absolute;
  right: -20%;
  top: -10%;


  background: var(--main-black);
  border-radius: 100%;
}



/* седьмая */

.blocks__section__seven {
  background: var(--main-black);

  grid-column: 3/4;
  grid-row: 4/5;
}



/* восьмая */


.blocks__section__eight {
  background: var(--main-white);

  grid-column: 3/4;
  grid-row: 5/6;
}
.blocks__section__eight h1 {
  color: var(--main-white)
}

.blocks__section__eight div:nth-child(2) {
  width: 60%;
  height: 50%;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  background: var(--main-purple);
}

.blocks__section__eight div:nth-child(3){
  width: 40%;
  height: 60%;

  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: var(--main-black);
}

.blocks__section__eight div:nth-child(4){
  width: 80%;
  height: 40%;

  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  background: var(--main-red);
}



/* девятая */


.blocks__section__nine {
  background: var(--main-red);

  grid-column: 1/3;
  grid-row: 4/6;
  height: 100%;
  overflow: hidden;
}



.fluid-text {
  width: 100%;
  height: auto;
}


.blocks__section__nine a{
  color: var(--main-white);
  text-decoration: none;
}



/* десятая */

.blocks__section__ten {
  background: var(--main-purple);

  grid-column: 1/2;
  grid-row: 6/7;
}



/* одиннадцатая */

.blocks__section__eleven {
  background: #A7A7A9;

  grid-column: 2/3;
  grid-row: 6/7;
  overflow: hidden;

}

.blocks__section__eleven img{
  width: 100%;
}

/* двенадцатая */


.blocks__section__twelve {
  background: var(--main-green);

  grid-column: 3/4;
  grid-row: 6/7;

}

/* футер */

footer {
  background: var(--main-black);

  grid-column: 1/4;
  grid-row: 7/8;

  display: flex;
  justify-content: space-around;
  align-items: center;
}


footer a {
  font-family: "Five-Years-Later";
  text-transform: uppercase;
  color: var(--main-white);
  height: auto;

}










/* ---------------------------------------- */
/* универсальные */
/* ------------------------------------ */





.logo {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  text-decoration: none;
  position: absolute;
  z-index: 999;
  height: auto;
  padding: 10px;
  color: var(--main-white);
}

.description-middle {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;
  padding: 10px;
  width: 100vw;

  position: absolute;
  z-index: 999;
  text-align: center;

  color: var(--main-white);
}

.link-left {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;

  padding: 10px;
  position: fixed;
  z-index: 999;
  left: 0;
  bottom: 0;

  color: var(--main-white);

  height: auto;
}

.link-right {
  font-family: "Five-Years-Later";
  font-size: 2.5vw;
  text-transform: uppercase;

  padding: 10px;
  position: fixed;
  z-index: 999;
  right: 0;
  bottom: 0;

  color: var(--main-white);

  height: auto;
}

.link-left:hover,
.link-right:hover,
.logo:hover {
  color: var(--main-black);
}




/* scrollbar */

::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--main-purple);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--main-green);
}

/* ----------------- */







.events__div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.events__div span {
  width: 200vw;
  height: 25vh;
  border: 10px;
  border-bottom: 5px solid #FFFFFF;
}

.events__div span h4 {
  font-family: "Druk";
  font-size: 200px;
  color: #F9F9F9;
  text-transform: uppercase;
}







/* -------------- */
/* food */


.food__main {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 16% 3% 16% 16% 10% 10% 10% 10% 10% 20%;
  height: 100vh;

  font-family: "Five-Years-Later";
  text-transform: uppercase;
  color: var(--main-black);
}

.food__main__h1_1 {
  grid-column: 1/5;
  grid-row: 2/3;

  font-size: 27px;
  padding-left: 28px;
}

.food__main__h1_2 {
  grid-column: 7/9;
  grid-row: 2/3;

  font-size: 27px;
  padding-left: 28px;
}

.food__main__h2_1 {
  grid-column: 1/3;
  grid-row: 3/4;

  font-size: 73px;
  padding-left: 28px;
}

.food__main__h2_2 {
  grid-column: 7/9;
  grid-row: 3/4;

  font-size: 73px;
  padding-left: 28px;
}

.food__main__p_1 {
  grid-column: 1/6;
  grid-row: 4/5;

  font-size: 24px;
  padding-left: 28px;
  text-transform: none;
}

.food__main__p_2 {
  grid-column: 7/12;
  grid-row: 4/5;

  font-size: 24px;
  padding-left: 28px;
  text-transform: none;
}

.food__main__h3_1 {
  grid-column: 1/3;
  grid-row: 5/6;

  font-size: 27px;
  padding-left: 28px;
  text-transform: uppercase;
}

.food__main__h3_2 {
  grid-column: 7/12;
  grid-row: 5/6;

  font-size: 27px;
  padding-left: 28px;
  text-transform: uppercase;
}

.food__main__menu{
  grid-column: 3/5;
  grid-row: 5/7;
}

.food__main__menu__paragraph{
  padding-bottom: 30px;
}

.food__main__h4_1 {
  font-size: 27px;
  text-transform: none;
}

.food__main__h4_2 {
  font-size: 14px;
  text-transform: none;
}

.food__main__h4_2_price {
  font-size: 14px;
  text-transform: none;
  opacity: 0;
}

/* цена */

.food__main__menu__price {
  grid-column: 5/6;
  grid-row: 5/7;
}

.food__main__menu__price__paragraph {
  padding-bottom: 30px;
  font-size: 27px;
}





/* второе */
.food__main__menu_2{
  grid-column: 9/12;
  grid-row: 5/7;
  padding-bottom: 50px;
}


.food__main__menu__price_2 {
  grid-column: 12/13;
  grid-row: 5/7;
}

.food__main__padding {
  width: 100px;
  height: 150px;
}







/* статистика */
/* -------------------------- */

.statistics_heading {
  font-family: "HeadingProUltracomp";
  text-transform: uppercase;
  width: 100%;
  height: auto;
  line-height: 76.19%;
  color: var(--main-black);
}





/* промокод */
/* ----------------------- */
.sale img {
  position: absolute;
}









/* vr */
/* ----------------- */

.vr_video {
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%) }
}


/* ----------------------- */




/* мерч */
/* ----------------- */

.merch__div {
  display: block;
}

.merch__div__img {
  width: 100vw;
}


/* ----------------------- */







/* contacts */
/* ----------------------- */

.contacts {
  height: 20vh;
  width: 100vw;
  color: var(--main-white);

  position: absolute;
  top: 9vw;

  font-size: 24px;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: 1fr 1fr 1fr;
}

.contacts__adress {
  grid-column: 3/5;
  grid-row: 1/2;
}

.contacts__adress__info {
  grid-column: 7/12;
  grid-row: 1/2;
  padding-bottom: 30px;
}

.contacts__support {
  grid-column: 3/5;
  grid-row: 2/3;
}


.contacts__support__info {
  grid-column: 7/12;
  grid-row: 2/3;
}

.contacts__map {
  position: absolute;
  top: 65%;
  left: 50%;

  margin-right: -50%;
  transform: translate(-50%, -50%);

}

.contacts__map__iframe {
  width: 98vw;
  height: 50vh;

}































/* // */
